.git
**/node_modules
**/dist
**/coverage
**/.vitest
**/*.tsbuildinfo
**/*.local
**/*.log
**/.next
**/.next-test-*
**/next-env.d.ts
**/playwright-report
**/test-results
**/.env
**/.env.*
!**/.env.example
