node_modules
dist
coverage
.vitest
*.tsbuildinfo
*.local
*.log
.output
.nitro
.tanstack
playwright-report
test-results

.env
.env.*
!.env.example

.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
